

    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: #f5f5f5;
     
    }
    .resume {
      background-color: #f8e6e6;
      padding: 30px;
      margin: 30px auto;
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      max-width: 800px;

      background: linear-gradient(45deg, #ffb3ba, #ffdfba, #f1cbe5, #baffc9);
    animation: gradientAnimation 10s infinite;
    background-size: 600% 600%;

    }
    @keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }}
    
    .profile-pic {
      border-radius: 50%;
      width: 150px;
      height: 150px;
      object-fit: cover;
    }
    .profile-details {
      margin-bottom: 20px;
    }
    .experience {
        background: linear-gradient(to right, #ead9ef, #FFFFFF);
  padding: 10px;
  border-radius: 10px;
  position: relative; /* Ensure position for the animation */
  overflow: hidden; /* Hide overflow to contain the animation */
  border: 0px solid transparent;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5); /* Glowy effect */
}

.experience::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #ffb3ba, #ffdfba, #f1cbe5, #baffc9);
  z-index: -1;
  animation: gradientAnimation 10s infinite, borderAnimation 5s infinite alternate;
  background-size: 400% 400%;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes borderAnimation {
  0% {
    border-color: transparent;
  }
  100% {
    border-color: #e1ff69; /* Change to desired glow color */
  }
}



    .name{
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .hobbies {
      display: flex;
      justify-content: center;
    }
    .hobbies i {
      font-size: 30px;
      margin: 0 10px;
    }
